.header-title {
	color: #2b2c34;
	background-color: lightcyan;
	text-align: justify;
	font-size: 40px;
	font-weight: 700;
	padding: 20px;
	box-shadow: 2px 2px 10px lightgray;
}
.total-worth {
	color: #11121d;
	margin-left: 20px;
	font-weight: 800;
}
